/* Imports de las Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Reseteo Total */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Body */
body{
    background-color: #FFE633;
}

.ContenedorPais:hover{
    transition: 0.1s;
    background: rgb(3, 3, 3);
}

/* #ContenedorListaPaises{
    margin-left: 130px !important;
} */

/* Primer Media Query */
@media only screen and (min-width:320px){
    /* ContenedorLogoPrincipal */
    #ContenedorLogoPrincipal{
        display: flex;
        margin: 25px 0px;
        padding: 15px;
    }
    
    #ContenedorLogoPrincipal div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }
    
    /* Imagen del Logo Principal */
    #LogoMercadoPrincipal{
        width: 200px;
        height: 120px;
        margin-top: 10px;
    }
    
    /* Titulo de Bienvenidos */
    #TituloBienvenido{
        font-size: 22px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.6px;
        color: white;
        margin: 40px 0px 0px 0px;
    }
    
    
    /* Titulo "De donde nos visitas" */
    #TituloWhereNosVisitas{
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.5px;
        color: white;
        margin: 10px 0px 0px 0px ;
        text-align: center;
    }
    
    /* Barra Superior */
    .BarraSuperior{
        height: 27px;
        color: red;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.897);
        border: none;
        padding: 5px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-shadow: 1px 10px 18px black  ;
    }
    
    /* Texto de la barra superior */
    .Texto-BarraSuperior{
        color: whitesmoke;
        font-size: 13px;
        text-align: center;
    }
    
    /* Imagen de cada Pais */
    .ImagenPais{
        width: 45px;
        height: 45px;
        padding: 3px;
    }
    
    /* Contenedor de cada Pais */
    .ContenedorPais{
        margin: 25px 0px;
        padding: 5px;
        border-radius: 30px;
        display: flex;
        align-content: center;
        background-color: #ffffffd0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /* Contenedor Abreviatura de Paises */
    .Contenedor-AbreviaturaPaises{
        display: flex;
    }

    /* AbreviaturaPaises */
    .AbreviaturaPaises{
        visibility: hidden;
        position: absolute;
    }

    /* Nombre de cada Pais */
    .NombrePais{
        margin: 12px 4px 0px 10px;
    }

    /* HREF de cada Pais */
    .HrefPais{
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
        color: blue;
    }
    /* Logo de Redireccion */
    .LogoRedireccion{
        margin: 4px 5px 0px 0px;
    }

    /* Imagen de Flecha (HREF) */
    .ImagenFlecha{
        width: 39px;
        height: 39.5px;
        margin-right: 4px;
        margin-top: 2px;
    }

    .ImagenFlecha:hover{
        background-color: #FFE633;
        border-radius: 20px;
        transform:rotate(45deg);
    }

}

/* Segunda Media Query */
@media only screen and (min-width:375px){
    
    /* Titulo de Bienvenidos */
    #TituloBienvenido{
        font-size: 26px;
        margin: 50px 0px 0px 3px;
    }
    /* Titulo "De donde nos visitas" */
    #TituloWhereNosVisitas{
        font-size: 15px;
    }
}

/* Tercer Media Query */
@media only screen and (min-width:425px){
    /* Titulo de Bienvenidos */
    #TituloBienvenido{
        font-size: 32px;
        letter-spacing: 1.5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
    }
    /* Titulo "De donde nos visitas" */
    #TituloWhereNosVisitas{
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Quicksand', sans-serif;
    }
}

/* Cuarta Media Query */
@media only screen and (min-width:768px){
    /* Contenedor Titulos */
    #Contenedor-Titulos{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    /* Titulo de Bienvenidos */
    #TituloBienvenido{
        font-size: 40px;
        letter-spacing: 1.5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    /* Titulo "De donde nos visitas" */
    #TituloWhereNosVisitas{
        font-size: 25px;
        letter-spacing: 2.5px;
        font-family: 'Quicksand', sans-serif;
    }

    /* Logo MercadoLibre */
    #LogoMercadoPrincipal{
        margin: 30px 0px 0px 80px;
        height: 140px;
    }

    /* Contenedor individual de cada pais */
    .ContenedorPais{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 6px;
        width: 13rem;
        height: 12.5rem;
        border-radius: 100%;
        /* background-color: #f8f8f8ef; */
        background-color: rgba(0, 0, 0, 0.781);
        margin: 30px 14px;
        border: none;
    }
    /* Hidden al Logo Flecha de cada pais */
    .LogoRedireccion{
        visibility: hidden;
    }
    /* Nombre Pais */
    .NombrePais a{
        font-size: 20px;
        letter-spacing: 2px;
        text-decoration: none;
        color: whitesmoke;
        font-family: 'Raleway', sans-serif;
    }

    /* Contenedor General de los Paises */
    #ContenedorListaPaises{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 30px;
    }

    /* Imagen de cada Pais */
    .ImagenPais{
        margin-top: 30px;
        height: 70px;
        width: 72px;
    }
}








